// overwrite
$navbar-light-active-color: grey;
$nav-link-font-size: 14px;
$primary: rgb(255, 81, 0);
$danger: rgb(206, 64, 45);
$info: blue;
$success: rgb(167, 201, 212);

@import "~bootstrap/scss/bootstrap.scss";
